body{
    background-color: #333;
}
.carousel {
    display: flex;
    overflow: hidden;
    width: 1300px;
    height: 600px;
    margin: 0 auto;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    animation: slide 10s infinite;
  }
  
  .slide:nth-child(1) {
    animation-delay: 0s;
  }
  
  .slide:nth-child(2) {
    animation-delay: 2.5s;
  }
  
  .slide:nth-child(3) {
    animation-delay: 5s;
  }
  
  @keyframes slide {
    0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-100%);
      }
      50% {
        transform: translateX(-200%);
      }
      75% {
        transform: translateX(-300%);
      }
      100% {
        transform: translateX(-400%);
    }
  }

  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
  }
  
  .logo img {
    height: 40px;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .menu-toggle span {
    display: block;
    height: 3px;
    width: 25px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-left: 20px;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .menu li::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .menu li:hover::after {
    transform: scaleX(1);
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .menu {
      position: fixed;
      top: 60px;
      left: -100%;
      width: 100%;
      height: calc(100% - 60px);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #333;
      transition: all 0.3s ease;
    }
  
    .menu li {
      margin: 10px 0;
    }
  
    .menu-open .menu {
      left: 0;
    }
  }

  .card-container {
    display: flex;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    height: 250px;
    margin: 0 20px;
    background-color: #67e077b6;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
  }
  
  .card:hover .card-img {
    transform: scale(1.2);
  }
  
  .card:hover .card-content {
    transform: translateY(-50%);
    opacity: 1;
  }
  
  .card-img {
    width: 100%;
    height: 250px;
    transition: transform 0.5s ease;
  }
  
  .card-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .card-title {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 20px;
  }
  
  .card-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    position: relative;
  }
  .card-btn:hover {
    background-color: #25d366;
    color: #fff;
  }
  .whatsapp-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .ad-container {
    width: 728px;
    height: 90px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ad-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  footer {
    background-color: #18171798;
    color: white;
    padding: 40px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-lg-4 {
    width: 30%;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .copy {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .card-inicio {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #333;
    overflow: hidden;
  }
  
  .card-inicio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
  }
  
  .card-overlay:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .card-overlay h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .card-overlay p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    transition: transform 0.3s ease;
  }
  
  .btn:hover {
    transform: translateY(-5px);
  }